.timer {
    background-color: #1E2343;
    border-radius: 0.89rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .countdown-circle {
        width: 13.22rem;
        height: 13.22rem;
        border-radius: 100%;
        background: #191E39;
        box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.61) inset, -3px -7px 16px 0px rgba(95, 88, 88, 0.23);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 2rem;
        font-weight: 600;
    }

    .countdown-setter {
        width: 40%;
        user-select: none;

        .timer-hands {
            display: flex;
            gap: 2rem;
            justify-content: space-evenly;

            div {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                position: relative;

                p {
                    color: #949494;
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }

                .arrow {cursor: pointer;}

                h3 {
                    color: #FFF;
                    font-size: 2.5rem;
                    font-weight: 300;
                    letter-spacing: 0.1rem;
                    margin: 0;
                }

                span {
                    color: #FFF;
                    font-size: 2.5rem;
                    font-weight: 400;
                    position: absolute;
                    top: 55%;
                    right: -25%;
                }
            }

        }

        .timer-toggle {
            width: 100%;
            height: 2.2rem;
            margin-top: 1rem;
            background-color: #FF6A6A;
            border-radius: 1rem;
            font-size: 1.2rem;
            color: #FFF;
            font-weight: 400;
        }
    }
}