.weather {
    background-color: #101744;
    border-radius: 0.89rem;
    color: #FFF;
    font-family: "Roboto", sans-serif;

    .date-time {
        border-radius: 0.89rem 0.89rem 0 0;
        height: 2.57rem;
        background-color: #FF4ADE;
        display: flex;
        align-items: center;
        font-weight: 600;
        justify-content: space-evenly;

        h3 {
            font-size: 1.6rem;
        }
    }
    
    .weather-data {
        font-weight: 400;
        font-size: 0.8rem;
        
        > div {
            display: flex;
            position: relative;
            justify-content: space-around;
            align-items: center;

            p {
                margin: 0.6rem auto;

                img {
                    float: left;
                    width: 0.8rem;
                    margin-top: 4px;
                    margin-right: 7px;
                }
            }

            hr {
                position: absolute;
                height: 2rem;
                transform: rotate(0);
            }

            hr:nth-of-type(1) {
                left: 30%;
            }

            hr:nth-of-type(2) {
                right: 33%;
            }

            .weather-condition {
                text-align: center;
                img {
                    width: 3.5rem;
                    height: 3.5rem;
                }

                p {
                    max-width: 3.5rem;
                    font-size: 1rem;
                    margin-top: 0;
                }
            }

            .weather-temp {
                text-align: center;
                h3 {
                    font-size: 1.8rem;
                    margin: 0.7rem auto;
                }

            }

            .weather-extras {

                p:nth-of-type(1) {
                    img {
                        position: relative;
                        right: 8px;
                        margin-right: 0;
                        width: 1.3rem;
                        height: 1rem;
                    }
                }
            }
        }
    }
}