.weather {
    background-color: #101744;
    border-radius: 1.56rem;
    color: #FFF;
    font-family: "Roboto", sans-serif;

    .date-time {
        border-radius: 1.56rem 1.56rem 0 0;
        height: 4.54rem;
        background-color: #FF4ADE;
        display: flex;
        align-items: center;
        font-weight: 600;
        justify-content: space-evenly;
    }
    
    .weather-data {
        font-weight: 400;
        font-size: 1.15rem;
        
        > div {
            display: flex;
            position: relative;
            justify-content: space-around;
            align-items: center;

            p {
                margin: 1rem auto;

                img {
                    float: left;
                    width: 1rem;
                    margin-top: 7px;
                    margin-right: 12px;
                }
            }

            hr {
                position: absolute;
                height: 4rem;
                transform: rotate(0);
            }

            hr:nth-of-type(1) {
                left: 30%;
            }

            hr:nth-of-type(2) {
                right: 33%;
            }

            .weather-condition {
                text-align: center;
                img {
                    width: 6.5rem;
                    height: 5rem;
                }

                p {
                    max-width: 7rem;
                    font-size: 1.25rem;
                    margin-top: 0;
                }
            }

            .weather-temp {
                text-align: center;
                h3 {
                    font-size: 3.7rem;
                    margin: 1rem auto;
                }

                p {
                    img {
                        margin-right: 0;
                    }
                }
            }

            .weather-extras {
                p:nth-of-type(1) {
                    img {
                        position: relative;
                        right: 10px;
                        margin-right: 0;
                        width: 2rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}